:root {
    --bg-color: #ffffff;
    --heading-color: #1b466a;
    --subtext-color: #7a7a7a;
    --link-color1: #1b466a;
    --link-color2: #2365B1;

}
html {
    scroll-behavior: smooth;
  }
  
body{

    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: var(--subtext-color);
    font-size: 16px;
    line-height: 28px;
}

a{
    font: inherit;
    text-decoration: none;
}


    @media screen and (min-width: 300px) {

        
        body {
            margin: 0;
            background-color: white;
        }
        #desktop {
            display: block;
            background-color: var(--bg-color);
        }
        #phone {
            display: none;
        }
        .navigation{
            display: inline-block;
            list-style-type: none;
            margin: 0;
            padding: 0;
            position: relative;
            right: 0;
            height: 100%;
            float:right;
        }
        .nav-item{
            transition: all 0.2s;
            transition-timing-function: ease-out;
            box-shadow: inset 0 -1.5px 0 #59a6ff00;
            display: inline-block;
            padding-bottom: 0px;
            margin-left: 32px;
            color: #a5a5a5;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            padding-top: 24px;
        }
        #head {
            top:0;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 8vh;
            max-width: 1110px;
            margin: auto;
            background-color: white;
            z-index: 20;
            height: 64px;
            vertical-align: middle;
            transition: 0.3s;
        }

        #footer {
            top:0;
            max-width: 1110px;
            margin: auto;
            background-color: white;
            width: 100%;
            height: 80px;
            vertical-align: middle;
        }

        #copyright {
            padding-top: 16px;
            padding-bottom: 0px;
            display: inline-block;
            color: #000000;
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
        }

        #next1{
            display: inline-block;
            list-style-type: none;
            margin: 0;
            padding: 0;
            position: relative;
            right: 0;
            height: 100%;
        }
        #next2{
            display: inline-block;
            list-style-type: none;
            margin: 0;
            padding-right: 0px;
            position: relative;
            right: 0;
            height: 100%;
            float:right;
            background-size: 100%;
            transition: background-size 0.5s;
            transition-timing-function: ease;
        }

        #next2:hover{
            background-size: 105%;
        }
        #nextpic{
            width:160px;
            padding-top: 160px;
            background-repeat: no-repeat;
            background: cover;
            background: url('images/mypic.png');
            background-size: 100%;
            background-position: center;
            margin-bottom: 30px;
            transition: all 0.3s;
            transition-timing-function: ease-out;
            cursor: pointer;
        }
        #nextpic:hover{
           
            background-size: 103%;

        }

        .followlinks{
            display: inline-block;
            list-style-type: none;
            margin: 0;
            padding: 0;
            position: relative;
            right: 0;
            height: 100%;
            float:right;
        }

        .links{
            box-shadow: inset 0 -1.5px 0 #59a6ff00;
            padding-top: 16px;
            padding-bottom: 0px;
            display: inline-block;
            margin-left: 32px;
            color: var(--link-color1);
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            transition: all 0.2s;
            transition-timing-function: ease-out;
        }

        .links:hover{
            box-shadow: inset 0 -1.5px 0 #59a6ff;
            padding-bottom: 4px;
            display: inline-block;
            color: var(--link-color2);
        }

        #name{
            color: #000000;
            font-size: 16px;
            font-weight: 500;
            line-height: 64px;

        }
        .main{
            padding-right : 30px;
            padding-left : 30px;
        }
        .main1{
            width: 100%;
            margin: auto;
        }
        #illustration{
            width: 100%;
        }
        .heading{
            font-size : 38px;
            font-family: Playfair Display;
            color: var(--heading-color);
            max-width: 730px;
            line-height: 56px;
            margin-bottom: 24px;
        }
        #designation{
            max-width: 730px;
            margin-bottom: 80px;
        }
        .subtext{
            max-width: 540px;
        }
        #contact{
            display: inline-block;
            max-width: 730px;
            color: #000000;
            font-weight: 400;
        }
        #pointer{
            display: inline-block;
            width: 32px;
            padding-top: 32px;
            margin-right: 2px;
            background-repeat: no-repeat;
            background: url(images/pointer.png);
            background-size: 100%;
            background-position: bottom;
            vertical-align: bottom;
        }
        .wave{
            display: inline-block;
            width: 48px;
            padding-top: 48px;
            margin-right: 2px;
            background-repeat: no-repeat;
            background: url(images/wave.png);
            background-size: 100%;
            background-position: bottom;
            vertical-align: top;
            cursor: pointer;
            
            animation: wave ease-in-out 1s both;
            animation-iteration-count: 2;
            transform-origin: 70% 50%;
        }
        .wave:hover{
            animation: wave ease-in-out 1s both;
            animation-iteration-count: infinite;
            transform-origin: 70% 50%;
        }
        @keyframes wave{
            from{-webkit-transform:none;transform:none}
            15%{-webkit-transform:translate3d(-20%,0,0) rotate3d(0,0,1,-10deg);transform:translate3d(-20%,0,0) rotate3d(0,0,1,-10deg)}
            30%{-webkit-transform:translate3d(10%,0,0) rotate3d(0,0,1,7deg);transform:translate3d(10%,0,0) rotate3d(0,0,1,7deg)}
            45%{-webkit-transform:translate3d(-15%,0,0) rotate3d(0,0,1,-10deg);transform:translate3d(-15%,0,0) rotate3d(0,0,1,-10deg)}
            60%{-webkit-transform:translate3d(10%,0,0) rotate3d(0,0,1,5deg);transform:translate3d(10%,0,0) rotate3d(0,0,1,5deg)}
            75%{-webkit-transform:translate3d(-5%,0,0) rotate3d(0,0,1,-2deg);transform:translate3d(-5%,0,0) rotate3d(0,0,1,-2deg)}
            to{-webkit-transform:none;transform:none}
        }

        #email{
            box-shadow: inset 0 -1.5px 0 #2a82e7;
            display: inline-block;
            max-width: 730px;
            color: #1b466a;
            font-weight: 400;
            transition: all 0.3s;
            transition-timing-function: ease;
        }
        #email:hover{
            box-shadow: inset 0 -28px 0 #2a82e7;
            color: #ffffff;
        }
        .grid-container{
            display: grid;
        }
        .grid-item{
            display: inline-grid;
        }
        .item-work{
            box-shadow: 0px 20px 50px 20px #151c5800;
            background-color: #ffffff00;
            margin: -8px;
            padding: 8px;
            color: #000000;
            background-size: 100%;
            margin-bottom: 32px;
            display: inline-grid;
            padding-bottom: 0px;
            transition: box-shadow margin-bottom padding-bottom color 0.3s;
            transition-timing-function: ease;
            cursor: default;
        }
        .item-work:hover{
            padding-bottom: 8px;
            margin-bottom: 24px;
            color: #2365B1;
            background-size: 103%;
            box-shadow: 0px 20px 50px 20px #151c5814;
            cursor: pointer;
            background-color: #ffffff;
        
        }

        .item-dribbble{
            color: #000000;
            box-shadow: 0px 20px 50px 20px #151c5800;
            background-color: #ffffff00;
            margin: -8px;
            padding: 8px;
            background-size: 100%;
            margin-bottom: 32px;
            display: inline-grid;
            padding-bottom: 0px;
            transition: all 0.1s;
            transition: box-shadow margin-bottom padding-bottom color 0.3s;
            transition-timing-function: ease;
            cursor: default;
        }
        .item-dribbble:hover{
            padding-bottom: 8px;
            margin-bottom: 24px;
            color: #2365B1;
            background-size: 103%;
            box-shadow: 0px 20px 50px 20px #151c5814;
            cursor: pointer;
            background-color: #ffffff;
        
        }
        ::selection {
              color: #2365b1;
              background: #f0f2ff;
          }

        iframe{
            margin:0 auto;
            display:block;
          }

          
        .title{
            font-weight: bold;
            font-size: 40px;
            color: rgb(0, 0, 0);
            margin: 0;
            display: inline;
        }
        .c-work{
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 30px;
            margin-top: 64px;
        }
        .work-img{
            width:100%;
            padding-top: 75%;
            background-position: center;
            background: cover;
            margin-bottom: 20px;
            position: relative;
            background-size: inherit;
            transition: background-size 0.3s;
            transition-timing-function: ease-out;
        }

        

        .title-work{
            font-weight: 400; 
            color: inherit;
            font-size: 20px;
            line-height: 24px;
            padding-bottom: 8px;
            padding-left:8px;
        }
        .desc-work{
            color: var(--subtext-color);
            padding-left:8px;
            font-size: 16px;
            line-height: 20px;
            padding-bottom: 16px;
        }
        .title-dribbble{
            padding-left:8px;
            font-weight: 400; 
            color: inherit;
            font-size: 16px;
            line-height: 20px;
            padding-bottom: 12px;
        }

        .arrow-dribbble{
            display: inline-block;
            max-width: 730px;
            color: #000000;
            font-weight: 400;
        }

        p.desc{
            color: white;
            display: inline-block;
            font-size: 150%;
            opacity: 1;
            height: 10%;
            margin: 33.8% auto;
            line-height: 100%;
        }
        .c-dribbble{
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 30px;
            margin-top: 64px;
        }
        .dribbble-img{
            line-height: 0;
            width:100%;
            padding-top: 75%;
            background-position: center;
            background-repeat: no-repeat;
            background: cover;
            margin-bottom: 20px;
            position: relative;
            background-size: inherit;
            transition: background-size 0.3s;
            transition-timing-function: ease-out;
        }
        .desc-dribbble{
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            color: white;
            text-align: center;
        }
        .desc-dribbble:hover{
            opacity: 1;
        }
        
        .c-art{
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 30px;
            margin-top: 64px;
        }
        .c-art2{
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 30px;
            margin-top: 64px;
        }
        .art-img{
            width:100%;
            padding-top: 100%;
            background-repeat: no-repeat;
            background: cover;
            background: url('images/dribbble small/3.jpg');
            background-size: 100%;
            background-position: center;
            margin-bottom: 30px;
            background-size: 100%;
            transition: background-size 0.3s;
            transition-timing-function: ease-out;
            cursor: pointer;
        }
        .art-img:hover{
            width:100%;
            padding-top: 100%;
            background-repeat: no-repeat;
            background: cover;
            background: url('images/dribbble small/3.jpg');
            background-size: 103%;
            background-position: center;
            margin-bottom: 30px;
        }
        .desc-art{
            text-align: center;
            margin-top: 5px;
        }
        #hi{
            padding-top: 35px;
            font-size: 24px;
            font-weight: 500;
        }
        .foot{
            grid-template-columns: 7fr 3fr;
            padding-top: 10px;
        }
        .new{
            grid-template-columns: 1fr 1fr;
            padding-bottom: 100px;
        }
        .para{
            margin-top: 5px;
        }

        #fm{
          margin:0;
        }
        #checkout1{
            display: inline-block;
            max-width: 730px;
            color: #000000;
            font-weight: 400;
        }
        #arrow-dribbble{
            display: inline-block;
            max-width: 730px;
            color: #00000000;
            font-weight: 400;
        }

        .nb-spinner {
            height: 40px;
            width: 40px;
        }
        #loader-img{
            width: 48px;
            padding-top: 10%;
            padding-right: 10%;
        }
        .loader-content{
            font-size: 22px;
            font-weight: 600;
            padding-bottom: 0px;
        }
        .ss-img{
            width: 700px;
            background-color: wheat;
            padding-top: 700px;
        }
        .ss-desc{
            color: white;
            margin: 20px;
            text-align: center;
        }
        .ss-view{
            color:#DA48FF;
            text-align: center;
            margin:40px;
            text-decoration: underline;
        }
        .art-all-ss{
            display: none;
            z-index: 12;
        }
        #prev{
            width: 40px;
            height: 40px;
            z-index: 12;
        }
        #next{
            width: 40px;
            height: 40px;
            z-index: 12;
        }
        
        .home{
            padding-top: 15vh;
            padding-bottom: 32vh;
            margin-left: auto;
            margin-right: auto;
            max-width: 920px;
        }

        .section{
            margin-left:auto;
            margin-right:auto;
            padding-bottom:160px;
            max-width: 920px;

        }

        .dummyanim{
            opacity:0;
            transform: translateY(60px);
        }

        .dummyanim.reveal
        {
            animation: reveal ease 1s forwards;
        }

        @keyframes reveal {
        to { transform: translateY(0); opacity: 1; }
        }

        .dribbble a {
            display: block;
            height: 0px;
        }
        
    }

    .illustrations {
        display: none;
    }
    .sketches {
        display: none;
    }
    .compositions {
        display: none;
    }

    
    *{
        -webkit-tap-highlight-color: transparent;
    }
    a{
        font: inherit;
        text-decoration: none;
        color: inherit;
    }
    .nav-item:hover{
        color:  #2365b1;
        opacity: 1;
        padding-bottom: 2px;
        font-weight: 400;
        box-shadow: inset 0 -1.5px 0 #59a6ff;
    }
    .nav-container input {
        display: none;
        
    }
    .nav-container input:checked ~ .checkmark {
        color:  #2365b1;
        opacity: 1;
        padding-bottom: 2px;
        font-weight: 400;
    }
    .nav-container:hover input ~ .checkmark {
        color:  #2365b1;
        opacity: 1;
        padding-bottom: 2px;
        font-weight: 400;
    }  
    #loader{
        height: -webkit-fill-available;
        width: 100%;
        background-color: #ffffff;
        position: absolute;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
    }
    #slide-show{
        height: -webkit-fill-available;;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        z-index: 10;
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
    }
    .loader-content{
        display: block;
        position: absolute;
        color: var(--link-color1);
        text-align: center;
    }

      
      /* NO BORDER SPINNER */
      .nb-spinner {
        margin: 0;
        background: transparent;
        border-top: 2px solid var(--link-color1);
        border-right: 2px solid transparent;
        border-radius: 50%;
        -webkit-animation: 1s spin linear infinite;
        animation: 1s spin linear infinite;
      }
      
      
      @-webkit-keyframes rotate {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes rotate {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      
      -webkit-@keyframes spin {
        -webkit-from {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        -webkit-to {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      
      @-webkit-keyframes spin {
        from {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        to {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      
      @keyframes spin {
        from {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        to {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      
      
      @-webkit-keyframes spinBorder {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          border-width: 15px;
        }
        50% {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
          border-width: 3px;
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
          border-width: 15px;
        }
      }
      
      @keyframes spinBorder {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          border-width: 15px;
        }
        50% {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
          border-width: 3px;
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
          border-width: 15px;
        }
      }
      a{
        -webkit-tap-highlight-color: transparent;
        }
